{{#if listado.length}}
  {{#each listado}}
    <div class="card__full">
      <div class="card">
        <div class="card__front">
          <div class="card__front__img" style="background-image: url({{foto}})">
          </div>
          <div class="courtain"></div>
          <div class="card__front__body">
            <h2>{{nombre}}</h2>
            <p>Marca:
              {{marca}}
              <br />
              Categoria:
              {{#switch categoria}}
                {{#case "1"}} Audio {{/case}}
                {{#case "2"}} Camaras {{/case}}
                {{#case "3"}} Celulares {{/case}}
                {{#case "4"}} Gadgets {{/case}}
                {{#case "5"}} TV {{/case}}
              {{/switch}}
              <br />
              Stock:
              {{stock}}
              <br />
              Envio Gratis:
              {{#if envio}}
                Si
              {{else}}
                No
              {{/if}}
              <br />
              {{detalles}}
            </p>

          </div>
        </div>
        <div class="card__back">
          <div class="card__back__body">
            <h2>{{nombre}}</h2>
            <p>{{detalles}}</p>
          </div>
          <div class="card__back__buttons">
            <input
              class="card__back__buttons__carrito"
              type="button"
              value="Agregar al Carrito"
              onclick="addToCart(event,'{{id}}',this)"
            />
            <input
              class="card__back__buttons__favorito"
              type="button"
              value="Agregar a Favoritos"
              onclick="addToFavourites(event,'{{id}}',this)"
            />
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <h2>No se encontraron productos</h2>
{{/if}}