{{#if productos.length}}
  <table>
    <tr>
      <th>Nombre</th>
      <th>Marca</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Envio</th>
      <th>Categoria</th>
      <th>Detalles</th>
      <th>Foto</th>
    </tr>

    {{#each productos}}
      <tr>
        <td>{{nombre}}</td>
        <td>{{marca}}</td>
        <td>{{precio}}</td>
        <td>{{stock}}</td>
        {{#if envio}}
          <td>Si</td>
        {{else}}
          <td>No</td>
        {{/if}}
        <td>
          {{#switch categoria}}
            {{#case "1"}} Audio {{/case}}
            {{#case "2"}} Camaras {{/case}}
            {{#case "3"}} Celulares {{/case}}
            {{#case "4"}} Gadgets {{/case}}
            {{#case "5"}} TV {{/case}}
          {{/switch}}
        </td>
        <td>{{detalles}}</td>
        <td>
          <img src={{foto}} alt="foto de {{nombre}}" />
        </td>
      </tr>
    {{/each}}

  </table>
{{else}}
  <h3>No se encontraron productos</h3>
{{/if}}