{{#if carrito.length}}
  <button
    class="btn__enviarCarrito"
    onclick="favouriteController.favouritesSend()"
  >Enviar</button>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Marca</th>
      <th>Foto</th>
      <th>Cantidad</th>
      <th>Envio</th>
      <th>Acción</th>
    </tr>
    {{#each carrito}}
      <tr>
        <td>{{nombre}}</td>
        <td>{{precio}}</td>
        <td>{{marca}}</td>
        <td>
          <img
            style="display:block; margin: 0 auto;"
            src="{{foto}}"
            width="50"
            alt="{{nombre}}"
          />
        </td>
        <td>{{cantidad}}</td>

        {{#if envio}}
          <td>Si</td>
        {{else}}
          <td>No</td>
        {{/if}}
        <td>
          <button
            onclick="favouriteController.productDeleteCarrito({{id}})"
          >Borrar</button>
        </td>
      </tr>
    {{/each}}
  </table>
{{else}}
  <h2>No hay Productos Favoritos</h2>
{{/if}}